<div id="home-container">
  <div id="form-container">
    <form action="/artist-search" method="GET" id="home-form">
      <input type="text" id= "artist-search-input" name="artist">
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>