<div class="container">
  <div id="tracks-heading">
    <h2>Title</h2>
    <h2>Listen</h2>
  </div>
  {{#each tracks}}
  <div id="play-track">
    <p>{{name}}</p>
    <audio controls>
      <source src="{{preview_url}}" type="">
      Play
    </audio>
  </div>
  
  

  {{/each}}
</div>